<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
    <div class="banner-main">
      <div class="container-banner"></div>
    </div>
    <main class="main">
      <!-- CATEGORIAS -->
      <div class="container-categorias">
        <h2>CATEGORIAS</h2>

        <div class="section-categorias">
          <div class="categorias">
            <a href="/products/remeras">
              <img class="img-categoria" src="/img/11.png" alt=""
            /></a>
            <p class="text">REMERAS</p>
          </div>

          <div class="categorias">
            <a href="/products/hoodies">
              <img class="img-categoria" src="/img/22.png" alt=""
            /></a>
            <p class="text">HOODIES</p>
          </div>

          <div class="categorias">
            <a href="/products/pantalones">
              <img class="img-categoria" src="/img/33.png" alt=""
            /></a>
            <p class="text">PANTALONES</p>
          </div>

          <div class="categorias">
            <a href="/products/buzos">
              <img class="img-categoria" src="/img/44.png" alt=""
            /></a>
            <p class="text">BUZOS</p>
          </div>
        </div>
      </div>

      <!-- OUTFITS -->
      <div class="container-outfits">
        <h2>OUTFITS</h2>

        <div class="section-outfits">
          <% outfits.forEach(outfit => { %>
          <div>
            <div class="card">
              <a href="/products/<%= outfit.id %>/detail"
                ><img class="img-card-outfit" src="<%= outfit.image %>" alt=""
              /></a>
              <div class="description">
                <p class="info-card"><%= outfit.description %></p>
                <p class="price-card">$ <%= outfit.price %></p>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <!-- SNEAKERS -->
      <div class="card-category">
        <a href=""
          ><img
            class="img-card-outfit-category"
            src="/img/sneakers/section.jpg"
            alt=""
          />

          <h2 class="description-category">SNEAKERS</h2>
        </a>
      </div>
      <!-- <div class="description-category"> -->

      <!-- </div> -->
      <div class="container-outfits">
        <div class="container-categorias">
          <div class="section-index-sneakers">
            <div>
              <div class="card">
                <a href=""
                  ><img
                    class="img-card-index-sneaker"
                    src="/img/sneakers/sneaker12-sf.png"
                    alt=""
                /></a>
                <div class="description">
                  <p class="info-card">Sneaker 1</p>
                  <p class="price-card">$10.600</p>
                </div>
              </div>
            </div>

            <div>
              <div class="card">
                <a href=""
                  ><img
                    class="img-card-index-sneaker"
                    src="/img/sneakers/sneaker4-sf.png"
                    alt=""
                /></a>
                <div class="description">
                  <p class="info-card">Sneaker 2</p>
                  <p class="price-card">$10.600</p>
                </div>
              </div>
            </div>
            <div>
              <div class="card">
                <a href=""
                  ><img
                    class="img-card-index-sneaker"
                    src="/img/sneakers/sneaker8.2-sf.png"
                    alt=""
                /></a>
                <div class="description">
                  <p class="info-card">Sneaker 3</p>
                  <p class="price-card">$10.600</p>
                </div>
              </div>
            </div>
            <div>
              <div class="card">
                <a href=""
                  ><img
                    class="img-card-index-sneaker"
                    src="/img/sneakers/sneaker14-sf.png"
                    alt=""
                /></a>
                <div class="description">
                  <p class="info-card">Sneaker 4</p>
                  <p class="price-card">$10.600</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="all-products">
        <a href="/products">Ver todos los productos</a>
      </div>
    </main>

    <!-- FOOTER -->
    <%- include("../partials/footer") %>
  </body>
</html>
