<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <section class="section-buzos">
      <div class="container-category-buzos">
        <h2>Buzos</h2>
        <!-- Buzos -->
        <div class="img-section-buzos"><img src="/img/fondo2.png" alt="" /></div>
        <div class="section-category-buzos">

          <!-- **************************************** -->
          <% productsBuzos.forEach(product=> { %>
          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img src="<%=  product.image%>" alt="" />
              </div>
              <div class="flip-card-back-buzos">
                <a href="/products/<%= product.id %>/detail">
                  <h1><%= product.name %></h1>
                  <img src="<%=  product.image%>" alt="" />
                  <h3>
                    <%= product.description %>
                </h3>
                <h3>$ <%= product.price %>
                </h3>
                <h3><%= product.marca.name %></h3>
                </a>
              </div>
            </div>
          </div>
          <% }); %>
          <!-- **************************************** -->
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
