<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>


<body>
    <%- include('../partials/header') %>
    
    <main class="main">
        <% if (product) { %>
        <div class="container_detail">

            <div class="div-img-producto">
                <img src="<%= product.image%>" alt="Imagen del producto" class="imagen-producto">
            </div>
            
            <div class="informacion-compra">
                <h2 class="nombre-producto"><%= product.name %> <%= product.description %> <%= product.marca.name %></h2>
                
                <h3 class="precio">$ <%= product.price %></h3>
                <div class="seccion-talles">
                    <h4 class="palabra-talles">Talla: <%= product.size %></h4>
                    
                </div>
                <div class="seccion-colores">
                    <h4 class="palabra-color">Color: </h4>
                    <div class="select-colores">
                        <select name="color">
                            <option value="000000"><%= product.color %></option>
                           
                            </select>
                        </div>
                    </div>
                    
                    <br>
                    <a href="/products/<%= product.id %>/editProduct" >

                        <button class="btn-Crud">Editar</button>
                    </a>
                    <a href="/products/addProduct" >

                        <button class="btn-Crud" >Crear</button>
                    </a>
                </div>
                
            </div>
                <%  }; %>
    </main>
    <%- include('../partials/footer') %>
    
</body>
</html>