<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/addProduct.css">


<body>
    <%- include('../partials/header') %>
    <main>
        <div id="title-add">
            <h1>¡EDITAR PRODUCTO!</h1>
        </div>
        <div id="container-form">
            <form method="POST" action="/products/<%= product.id %>/editProduct?_method=PUT" enctype="multipart/form-data" >
                
                <div class="product-name">

                    
                </div>
                <div class="product-name">
                    <input type="text" name="nombre" id="nombre" value="<%= product.name %>">
                    <label for="nombre">Nombre del producto</label>
                </div>
                <br>
                <div>
                    <label for="descripcion" id="title-descripcion">Descripción</label>
                    <textarea name="descripcion" id="textarea-descripcion" cols="10" rows="5"><%= product.description %></textarea>
                </div>
                <br>
                <div class="container-imagen-producto">
                    <input type="file" name="imagen" accept=".jpg" multiple >
                    <label for="imagen" id="selecion-imagen">Seleccione imagen</label>
                </div>
                <br>
                <div class="product-color">
                    <input type="text" name="color" id="color" value="<%= product.color %>">
                    <label for="color">Color</label>
                </div>
                <br>
                <div class="product-sizes">
                    <input type="number" name="talles" id="talles" value="<%= product.size %>">
                    <label for="talles">Talles</label> 
                </div>
                <br>
                <div class="product-price">
                    <input type="number" name="precio" id="precio" value="<%= product.price %>" >
                    <label for="precio">Precio</label>
                </div>
              
                <br>
                <div class="container-publicar-producto">
                    <input type="submit" value="Enviar" />
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>