<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <section class="section-categorys">
      <div class="container-category">
        <h2>hoodies</h2>
        <!-- HOODIES -->
        <div class="img-section-categorys">
          <img src="/img/fondo1.jpg" alt="" />
        </div>
        <div class="section-hoodies-categorys">
          <!-- **************************************** -->
          <% productsHoodies.forEach(product =>{%>
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="<%= product.image %>" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="/products/<%= product.id %>/detail">
                  <h1><%= product.name %></h1>
                  <img src="<%= product.image %>" alt="" />
                  <h3>$ <%= product.price %></h3>
                  <h3><%= product.description %></h3>
                  <h3><%= product.marca.name %></h3>
                </a>
              </div>
            </div>
          </div>
          <% }) %>
           <!-- **************************************** -->
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
