<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <section class="section-categorys">
      <div class="container-category-outfits">
        <h2>Outfits</h2>
        <!-- OUTFITS -->
        <div class="img-section-outfits"><img src="/img/fondo-outfits.png" alt="" /></div>
        <div class="section-category-outfits">
          <!-- **************************************** -->
          <% productsOutfits.forEach(outfit => { %>
            
            <div class="flip-card-outfits">
              <div class="flip-card-inner-outfits">
                <div class="flip-card-front-outfits">
                  <img src="<%= outfit.image %>" alt="" />
                  </div>
                  <div class="flip-card-back-outfits">
                    <a href="/products/<%= outfit.id %>/detail">
                      <h1><%= outfit.name %></h1>
                      <img src="<%= outfit.image %>" alt="" />
                      <h3>$ <%= outfit.price %></h3>
                      <h3><%= outfit.description %></h3>
                      <h3><%= outfit.brands.name %></h3>
                      </a>
                      </div>
                      </div>
                      </div>
                   <% }); %>
          <!-- **************************************** -->
          
          

        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
