<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <section class="section-categorys">
      <div class="container-category-pantalones">
        <!-- GRID VARIOS PANTALONES -->
        <div class="container-pants">
          <div class="pants">
            <img src="/img/category/pantalones/pantalon3.png" alt="" />
            <div>
              <p>Cargo</p>
            </div>
          </div>
          <div class="pants">
            <img src="/img/category/pantalones/pantalon17.png" alt="" />
            <div>
              <p>Joggers</p>
            </div>
          </div>
          <div class="pants">
            <img src="/img/category/pantalones/pantalon18.png" alt="" />
            <div>
              <p>Lino</p>
            </div>
          </div>
          <div class="pants">
            <img src="/img/category/pantalones/pantalon19.png" alt="" />
            <div>
              <p>Chinos</p>
            </div>
          </div>
          <div class="pants">
            <img src="/img/category/pantalones/pantalon20.png" alt="" />
            <div>
              <p>Chándal</p>
            </div>
          </div>
        </div>
        <hr />

        <!-- END GRID VARIOS PANTALONES -->
        <h2>Pantalones</h2>
        <!-- PANTALONES -->
        <div class="img-section-pantalones">
          <img src="/img/pantalonh2.jpg" alt="" />
        </div>
        <div class="section-category-pantalones">
          <!-- **************************************** -->
          <% productsPantalones.forEach(product => { %>

          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="<%= product.image %>" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="/products/<%= product.id %>/detail">
                  <h1><%= product.name %></h1>
                  <img src="<%= product.image %>" alt="" />
                  <h3>$ <%= product.price %></h3>
                  <h3><%= product.description %></h3>
                  <h3><%= product.marca.name %></h3>
                </a>
              </div>
            </div>
          </div>
          <% }); %>
          <!-- **************************************** -->
        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
