<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <section class="section-oversize">
                <div class="container-categorias">
                    <h2>Productos</h2>
                    <!-- OVERSIZE -->
                    <div class="img-section-oversize"> <img src="/img/oversize/section-oversize1.jpg" alt=""></div>
                    <div class="section-categorias">


                        <!-- **************************************** -->

                        <% productsList.forEach(product=> { %>
                            <div class="flip-card-oversize">
                                <div class="flip-card-inner-oversize">
                                    <div class="flip-card-front-oversize">

                                        <img src="<%=product.image%>" alt="" />
                                    </div>
                                    <div class="flip-card-back-oversize">
                                        <a href="/products/<%= product.id %>/detail">
                                            <h1>
                                                <%= product.name %>
                                            </h1>
                                            <img src="<%=product.image%>" alt="" />
                                            <h3>
                                                <%= product.description %>
                                            </h3>
                                            <h3>$ <%= product.price %>
                                            </h3>
                                            <h3>
                                                <%= product.brands.name %>
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% }); %>

                                <!-- **************************************** -->
                                <!-- OVERSIZE -->
                                <!-- **************************************** -->
            </section>

            <!-- SNEAKERS -->
            <section class="section-sneakers">

                <div class="container-categorias">
                    <div class="section-categorias">
                        <!-- ****************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker2-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker2-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker4-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker4-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker8.2-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker8.2-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker9-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker9-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker16-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker16-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker11-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker11-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker12-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker12-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker14-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker14-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                    </div>
                </div>
                </div>
                </div>
            </section>
            <%- include("../partials/footer") %>
    </body>

</html>