<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <section class="section-oversize">
                <div class="container-categorias">
                    <h2>Productos</h2>
                    <!-- OVERSIZE -->
                    <div class="img-section-oversize"> <img src="/img/oversize/section-oversize1.jpg" alt=""></div>
                    <div class="section-categorias">


                        <!-- **************************************** -->

                        <% productsList.forEach(product=> { %>
                            <div class="flip-card-oversize">
                                <div class="flip-card-inner-oversize">
                                    <div class="flip-card-front-oversize">

                                        <img src="<%=product.image%>" alt="" />
                                    </div>
                                    <div class="flip-card-back-oversize">
                                        <a href="/products/<%= product.id %>/detail">
                                            <h1>
                                                <%= product.name %>
                                            </h1>
                                            <img src="<%=product.image%>" alt="" />
                                            <h3>
                                                <%= product.description %>
                                            </h3>
                                            <h3>$ <%= product.price %>
                                            </h3>
                                            <h3>
                                                <%= product.marca.name %>
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% }); %>

                                <!-- **************************************** -->
                                <!-- OVERSIZE -->
                                <!-- **************************************** -->
            </section>

            <!-- SNEAKERS -->
            <section class="section-sneakers">

                <div class="container-categorias">
                    <div class="section-categorias">
                        <!-- ****************************************** -->
                        <% sneakersPro.forEach(element => { %>
                          
                          <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  
                                  <img src="<%= element.image %>" alt="" />
                                </div>
                                <div class="flip-card-back">
                                  <a href="/products/<%= element.id %>/detail">
                                    <h3><%= element.name %></h3>
                                    <img src="<%= element.image %>" alt="" />
                                    <h1>$ <%= element.price %></h1>
                                    <h1><%= element.description %></h1>
                                    <h1><%= element.marca.name %></h1>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <%  }); %>
                        <!-- **************************************** -->
                       
                    </div>
                </div>
                </div>
                </div>
            </section>
            <%- include("../partials/footer") %>
    </body>

</html>