<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <section class="section-categorys">
      <div class="container-category-remeras">
        <h2>Remeras</h2>
        <!-- REMERAS -->
        <div class="img-section-remeras"><img src="/img/remeras-fondo.png" alt="" /></div>
        <div class="section-category-remeras">
          <!-- **************************************** -->
          <% productsRemeras.forEach(product =>{%>

            <div class="flip-card-remeras">
              <div class="flip-card-inner-remeras">
                <div class="flip-card-front-remeras">
                  <img src="<%= product.image %>" alt="" />
                </div>
                <div class="flip-card-back-remeras">
                  <a href="/products/<%= product.id %>/detail">
                    <h1><%= product.name %></h1>
                    <img src="<%= product.image %>" alt="" />
                    <h3>$ <%= product.price %></h3>
                    <h3><%= product.description %></h3>
                    <h3><%= product.brands.name %></h3>
                  </a>
                </div>
              </div>
            </div>
            <% }) %>
          <!-- **************************************** -->
          
         

        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
